<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rose Mulazada • Front-end Developer</title>
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="icon" type="image/x-icon" href="svg/rose-blk.svg" />
    </head>
    <style></style>
    <body>
        <div class="fullpage_container">
            <%- include ('../partials/header.ejs') %>

            <!-- Name scroll -->
            <div class="slider__container">
                <div class="slider">
                    <p class="first-text">&nbsp;Rose Mulazada ━</p>
                    <p class="second-text">&nbsp;Rose Mulazada ━</p>
                </div>
            </div>
        </div>
        <div class="fullpage_container"></div>
        <div class="fullpage_container"></div>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
