<div class="fullpage_container polka">
    <div class="item">
        <div class="item-text">"</div>
        <div class="first-item">
            <div class="item-text">I</div>
            <div class="item-text">have</div>
            <div class="item-text">a</div>
            <div class="item-text">passion</div>
        </div>
    </div>
    <div class="item">
        <div class="item-text">for constantly</div>
    </div>
    <div class="item">
        <div class="item-text">evolving so I can</div>
    </div>
    <div class="item">
        <div class="item-text">make each project</div>
    </div>
    <div class="item">
        <div class="item-text">better than</div>
    </div>
    <div class="item">
        <div class="item-text">the last.</div>
    </div>

    <button>⇣</button>
</div>

<div class="fullpage_container polka-white" style="filter: blur(1px)"></div>
