<div class="fullpage_container polka">
    <div class="item">
        <div class="item-text">‟</div>
        <div class="first-item">
            <div class="item-text">I</div>
            <div class="item-text">have</div>
            <div class="item-text">a</div>
            <div class="item-text">passion</div>
        </div>
    </div>
    <div class="item">
        <div class="item-text">for constantly</div>
    </div>
    <div class="item">
        <div class="item-text">evolving so I can</div>
    </div>
    <div class="item">
        <div class="item-text">make each project</div>
    </div>
    <div class="item">
        <div class="item-text">better than</div>
    </div>
    <div class="item">
        <div class="item-text">the last.</div>
    </div>

    <button>⇣</button>
</div>

<div class="fullpage_container polka-white">
    <h2>Hey. I'm Rose! <span>👋</span></h2>
    <p>
        I'm an aspiring front-end developer who's always looking to learn.
        Whether it be about the latest trends in dev and design, or conducting
        my own research on how I can achieve certain functionalities better, I'm
        constantly challenging myself.
    </p>

    <div class="test-container">
        <div class="test-item"></div>
        <div class="test-item"></div>
    </div>
</div>
