/* Import Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Narrow:wght@400;700&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-stack: Inter, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100dvh;
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.fullpage_container {
    height: 100%;

    &:first-of-type {
        position: relative;
    }
}

/**============================================
 *               LANDING PAGE
 *=============================================**/

/* Footer */
footer {
    background-color: #121310;
    color: #fff;
    padding: 5em 3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    img {
        height: 2em;
    }
}

/* Header */
header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    position: fixed;
    width: 100%;
    z-index: 99999999999999;

    a {
        text-decoration: none;
        color: #f0eae6;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh;

        /* #test {
            position: relative;
            height: 100%;
            width: 100%;

            .logo {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9999999999999999;
            }
        } */

        div.header_left__container {
            font-size: 0.7em;
            text-align: right;

            display: flex;
            align-items: center;
            gap: 5vh;

            #metadata {
                #availabilityStatus::before {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    margin-right: 5px;
                    border-radius: 50%;
                    background-color: rgb(36, 161, 36);
                }
            }

            .toggle-btn {
                display: flex;
                justify-content: flex-end;

                .hamburger_menu {
                    /* display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.75em 2em 1.5em 2em;
                    outline: none;
                    border: none;
                    width: 28px;
                    height: 20px;
                    transition: all 250ms ease-out;
                    background: none; */
                    position: relative;
                    z-index: 9999999999999999;

                    width: 34px;
                    height: 20px;
                    line-height: 0.5;
                    cursor: pointer;
                    background: none;
                    border: none;

                    /* &:before,
                    &:after {
                        content: "";
                        width: 40px;
                        height: 2px;
                        position: absolute;
                        transition: all 250ms ease-out;
                        will-change: transform;
                        background: black;
                    }

                    &:before {
                        transform: translateY(-3px);
                    }

                    &:after {
                        transform: translateY(3px);
                    } */

                    span {
                        width: 100%;
                        height: 2px;
                        background: #000;
                        display: inline-block;
                        z-index: 99999999999999999;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .overlay {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        font-family: "Merriweather", serif;
        font-weight: 600;
        text-transform: uppercase;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #121310;
        will-change: transform;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .overlay-menu {
            display: flex;
            gap: 2em;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-item {
                p {
                    text-align: center;
                    font-size: clamp(8vw, 10vw, 11vw);
                    line-height: 80%;
                    will-change: transform;
                    transition: letter-spacing 0.3s;
                    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

                    &:hover {
                        letter-spacing: 0.075em;
                    }

                    &#active-null-state::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background: #c23e0c;
                        width: 100%;
                        height: 8px;
                    }

                    &#active::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        background: #c23e0c;
                        width: 100%;
                        height: 8px;
                    }
                }
            }
        }
    }

    .sub-nav {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

        font-family: "Merriweather", serif;
        text-transform: uppercase;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        display: none;
        width: max-content;

        p {
            font-size: 20px;
            min-width: fit-content;
            color: white;
        }
    }
}

/*Name scroll */
.slider__container {
    font-family: "Merriweather", serif;
    position: absolute;
    top: calc(100dvh - 300px);
    pointer-events: none;
    z-index: -1;

    .slider {
        position: relative;
        white-space: nowrap;
        display: flex;

        p {
            font-size: 240px;
            font-weight: 500;

            &::last-of-type {
                position: absolute;
                left: 100%;
            }
        }
    }
}

/* Polkadot background pattern */
/* Credit: https://screenspan.net/polka/ Polkadot CSS Generator */
.polka {
    --polka-bg-image: radial-gradient(rgb(0, 0, 0) 10%, transparent 16%);
    --polka-bg-position: 4px 4px;
    --polka-bg-size: 8px 8px;
    --polka-bg-color: transparent;

    background-image: radial-gradient(
        rgba(0, 0, 0, 0.137) 10%,
        transparent 16%
    );
    background-position: 4px 4px;
    background-size: 8px 8px;
    background-color: transparent;
}

.polka-white {
    --polka-bg-image: radial-gradient(
        var(--polka-dots-color) 10%,
        transparent 16%
    );
    --polka-bg-position: 4px 4px;
    --polka-bg-size: 8px 8px;
    --polka-bg-color: black;
    --polka-dots-color: rgba(255, 255, 255, 0.439);

    background-image: radial-gradient(var(--polka-dots-color) 10%, black 16%);
    background-position: var(--polka-bg-position);
    background-size: var(--polka-bg-size);
    background-color: black;
}

/* Circle text */
/* Credit: https://www.youtube.com/watch?v=Ly1ktCTpcWo */
p#circular_text {
    height: 300px;
    width: 300px;
    position: relative;
    animation: effect 8s linear infinite;
    pointer-events: none;

    span {
        position: absolute;
        left: 50%;
        transform-origin: 0 150px;
    }
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Test */
.row {
    display: flex;
    flex-direction: row;
}

/*======================
 *       ABOUT ME 
 *======================*/
.fullpage_container:nth-of-type(2) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-height: 100%;
    width: 100%;
    padding: 5vw;
    position: relative;
    font-family: 'Barlow Condensed';
    font-weight: 100;

    .item {
        &:first-of-type {
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 5vw;
            gap: 0;

            .first-item {
                display: flex;
                gap: 2em;
            }
        }
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-content: center;
        justify-content: end;
        height: min-content;

        .item-text {
            font-size: clamp(1.5rem, 7vw, 10vh);
            text-transform: uppercase;
            font-weight: 550;
            color: black;
            justify-self: right;
        }
    }

    .item:nth-child(3n + 2) .item-text:last-child {
        padding-right: 10vw;
    }

    .item:nth-child(3n + 1) .item-text:last-child {
        padding-right: 4vw;
    }

    .item:last-of-type .item-text:last-child {
        padding-right: 4vw;
    }

    button {
        background: black;
        border-radius: 50%;
        width: 12.5vw;
        height: 12.5vw;
        aspect-ratio: 1;
        border: none;
        outline: none;
        color: white;
        font-size: 10vh;
        position: absolute;
        left: 10vh;
        bottom: 8vh;
        cursor: pointer;
        transition: all 0.25s ease-in;
        border: 2px dashed white;

        &::after {
            content: "About me";
            display: flex;
            text-transform: uppercase;
            position: absolute;
            top: 40%;
            color: black;
            left: 50%;
            font-weight: 600;
            font-size: 1rem;
            z-index: -1;
            transition: all 0.5s ease-out;
        }

        &:hover::after {
            top: -15%;
            left: 100%;
            z-index: 0;
        }

        &:hover {
            color: black;
            background: white;
            border: 1px dashed black;
        }
    }
}

.fullpage_container:nth-of-type(3) {
    color: white;
    padding: 8vh;

    h2 {
        font-size: 3em;
        font-family: "Merriweather";
    }

    .test-container {
        display: flex;

        .test-item {
            width: 25vw;
            height: 15vh;
            border-radius: 10px;
            background-image: linear-gradient(to right, #3c757e 2%, #bee0e2 2%);
        }
    }
}

/*============================================
 *                  WORKS
 *============================================*/
.fullpage_container:nth-of-type(4) {
    position: relative;
    display: flex;
    border: 2px black solid;
    justify-content: space-between;

    .filters {
        position: absolute;
        bottom: 0;
        right: 0;
        list-style-type: none;
        text-align: right;
        font-size: 3vh;
        padding: 1em 2em 2.5em 1em;

        .filter {
            text-align: right;
            position: relative;
            width: max-content;
            padding-bottom: 0.5em;
            margin-left: auto;
            cursor: pointer;
            font-family: "Barlow Condensed";

            h3 {
                position: relative;

                &.all {
                    color: #fb5eff;
                    font-size: 12vh;
                    text-transform: uppercase;
                    font-weight: 800;
                }
            }

            p {
                position: absolute;
                bottom: 30%;
                left: -20px;
                font-size: 1.25vh;

                &.all-p {
                    color: #fb5eff;
                }
            }
        }
    }

    .works {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, 1fr);
        gap: 0.5em;
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        position: relative;
        justify-content: center;
        z-index: 9999999;

        &::-webkit-scrollbar {
            display: none;
        }

        .work {
            width: 50%;
            margin: 3em;

            img {
                width: 25vw;
            }

            &:first-of-type {
                grid-area: 1 / 1 / span 2 / span 1;
            }

            &:nth-of-type(2) {
                grid-area: 4 / 2 / span 2 / span 1;
            }

            &:nth-of-type(3) {
                grid-area: 7 / 1 / span 2 / span 1;
            }

            &:nth-of-type(4) {
                grid-area: 10 / 2 / span 2 / span 1;
            }

            &:nth-of-type(5) {
                grid-area: 13 / 1 / span 2 / span 1;
            }

            &:nth-of-type(6) {
                grid-area: 16 / 2 / span 2 / span 1;
            }
        }
    }
}
